body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: black;
}

.tight {
  line-height: 0.8em;
}

.squish {
  letter-spacing: -3px;
}

.xl {
  font-size: 6rem;
}

.lg {
  font-size: 5rem;
}

.md {
  font-size: 4rem;
}

.sm {
  font-size: 3rem;
}

.xs {
  font-size: 2rem;
}

.green {
  color: #b0c954;
}

.bold {
  font-weight: 800;
}

.light {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.container > * {
  width: 100%;
  max-width: 700px;
}